.cursiva {
  font-family: 'Lobster', cursive;
  font-weight: 400;
}

.anton {
  font-family: 'Anton', sans-serif;
  font-weight: 400;
}

.hr {

 border: 2px solid #000000;
 border-radius: 5px;
 width: 15%;
}


a {

  color: #ffffff;


}
