.cursiva {
  font-family: 'Lobster', cursive;
  font-weight: 400;
}

.anton {
  font-family: 'Anton', sans-serif;
  font-weight: 400;
}

.hr {

 border: 2px solid #000000;
 border-radius: 5px;
 width: 15%;
}



.gris {
  background: #696969;
}


.hrwhite {

 border: 2px solid #ffffff;
 border-radius: 5px;
 width: 15%;
}

.v28{
  width: 28%;
}

.v24{
  width: 24%;
}


.v40{
  width: 40%;
}

.v18{
  width: 18%;
}

.v30{
  width: 30%;
}
